<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<h1>Top Categories</h1>
	{% if categories %}
		<ul>
			{% for category in categories %}
				<li><a href="/rango/category/{{category.slug}}/">{{category.name}}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no top categories</strong>
	{% endif %}
	<h1>Top Pages</h1>
	{% if pages %}
		<ul>
			{% for page in pages %}
				<li><a href="{{page.url}}">{{page.title}}</a>&emsp;{{page.views}}</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no top pages</strong>
	{% endif %}
	<a href="/rango/add_category/">Add a New Category</a><br />
</body>
</html>